name: CI-CD
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - golden
      - develop

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle Build
        run: gradle build

      - name: Run Tests and Generate Report
        run: |
            mkdir -p build/reports/tests
            gradle build
            cp -r build/test-results/* build/reports/tests/
            TEST_RESULTS=$(grep -o '<testcase[^>]*name="[^"]*"[^>]*classname="[^"]*"[^>]*failure[^>]*' build/reports/tests/test*.xml | awk -F '"' '{print "Test Name: "$4" - Class Name: "$6" - Status: "($8 ? "FAILED" : "PASSED")}')
            echo "Test Results:"
            echo "$TEST_RESULTS"